.pre {
	font-family: monospace;
	white-space: pre;
}

.tag {
	font-weight: bold;
	margin-right: 1em;
}

.value {
	font-family: monospace;
}

/* ajuste de label */
.multi-step-indicator-label {
	max-width: 200px !important;
}

.btn-row {
	display: flex;
	border: none;
	justify-content: right;
}

.container-fluid {
	border-style: solid;
	border-width: 0.5px;
}